@font-face {
	font-family: "TF2";
	src: url('fonts/TF2.ttf');
}

body {
	background-image: url(../pictures/background2.jpg);
	font-family: "TF2", Georgia, Serif;
}

p {
	font-size: 1.5em;
}

button {
	border-radius: 5px;
	font-size: 1.2em;
	padding: 10px;
}

.start-button, .rules-button {
	margin-top: 10px;
}

/*This concern the parts that will be change by Js */
.red {
	background-color: #D34245;
	border-color: #BC6352;
}
.blue {
	background-color: #5289B3;
	border-color: #3F3834;
}
/**/

.container {
	
	margin-bottom: 35px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100vw;
}

header {
	margin-top: 20px;
	margin-bottom: 35px;
}

.title-block {
	height: 160px;
	background-image: url(../pictures/main-sign.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

.main-title {
	padding-top: 60px;
}

.icon {
	margin-top: 5px;
	margin-bottom: 5px;
}

.game-infos-block {
	margin-top: 10px;
	margin-bottom: 30px;
}

.progress {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.cell{
	border: 1px solid black;
	height: 8vh;
	width: 12.5%;
    float:left;
    text-align:center;
    background-size: cover;
}

.accessible {
	border: 2px dashed yellow;
}

.board-wrapper {
	position: relative;
}

#board {
	position: absolute;
	width: 80%;
	background-image: url(../pictures/blackboard.png);
	background-size: cover;
	padding: 0px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.progress-bar {
	position: absolute;
	z-index: -1;
	height: 105%;
	right: -2.5%;
	top: -2.5%;
}

/*actions buttons*/
.actions-block {
	padding-top: 15px;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
	background-color: white;
	margin-top: 72vh;
	margin-bottom: 15px;
}

/*players info and picture zones*/
.player-1{
	background-image: url(../pictures/red-background.png);
}

.player-2 {
	background-image: url(../pictures/blue-background.png);
}

.player-display {
	margin-bottom: 10px;
	padding: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	box-shadow: 3px 3px 3px black;
}

.player-picture {
	border: 1px solid black;
	box-shadow: 1px 1px 1px black;
	padding: 0px;
}

.player-infos {
	margin-top: 15px;
	margin-bottom: 15px;
}

.display-area {
	height: 60vh;
	color: white;
	font-family: 'Annie Use Your Telescope', cursive;
	background-size: cover;
	background-image: url(../pictures/display-background.png);
	padding: 15px;
	overflow: auto;
	box-shadow: 2px 2px 2px black;
}