body {
	background-image: url(pictures/background2.jpg);
}

.container {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100vw;
}

.game-infos-block {
	margin-top: 30px;
	margin-bottom: 30px;
}

.board-place {
	background-color: grey;
	height: 500px;
}

.player-infos {
	margin-top: 15px;
	margin-bottom: 15px;
}

.player-1-display {
	background-image: url(pictures/red-background.png);
}
.player-2-display {
	background-image: url(pictures/blue-background.png);
}

.player-1-display, .player-2-display {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
}